<div class="container"mb-5>
  <h1 class="mt-3 mb-3">Entre em contato conosco</h1>
  <form>
    <div class="mb-3">
      <label for="nome">Nome Completo</label>
      <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome">
    </div>
    <div class="mb-3">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="mensagem">Escreva a sua mensagem</label>
      <textarea class="form-control" id="mensagem" rows="3"></textarea>
      </div>
      <div class="mb-3">
      <button class="btn btn-outline-dark" routerLink=''>Enviar</button>
    </div>
    </form>
</div>